.publish-dialog {
  animation: publish-dialog-content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes publish-dialog-content-show {
  from {
    opacity: 0;
    transform: translate(0, -2%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(0, 0%) scale(1);
  }
}
